/* font-style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* first-section */

.first-section{
    display:flex;

    background-color: rgb(12, 12, 168);
  align-items: center;
  justify-content: space-evenly;
   
 
}
h1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.title{
    
    padding-left: 156px;
   
    padding-top: 121px;
    padding-right: 95px;
    padding-bottom: 204px;
   
}

.banner-image img{
    width: 550px;
    height: 438;
    padding-top: 49px;
    padding-left: 147px;
    padding-top: 49px;
    padding-bottom: 104px;
    
   

}
.button{
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: wheat;
    border-radius: 5px;
    background-color: purple;
    font-weight: 500px;
}
.button:hover{
    background-color: darkorchid;
}
.first-section:hover .banner-image img{
    transform: rotate(45deg);
    transition: 1s;
}

/* second-section */
.players{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
   margin-left: 180px;
   margin-right:210px;;
}

 .player{
    width:330px;
    Height:474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(195, 199, 199, 0.507);
    border-radius: 20px;
    padding-bottom: 17px;
} 
.player-image img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.player-info{
    padding-right: 15px;
    padding-left: 15px;
    
}


/* third-section */
.third-section{
    margin-top: 224px;
    display: flex;
    
}
.match img{
    width: 567px;
height: 427px;
padding-left: 66px;
padding-right: 156px;

}
.info{
    
    padding-left: 182px;
    padding-top: 44px;
}
h3{
    font-size: 30px;
    margin: 0;
}

/* fourth-section */
.owner{
    display: flex;
flex-direction: column;

padding: 0px;
align-content: center;

padding-left: 475px;
padding-right: 450px;
margin-bottom: 63px;
margin-top: 170px; 
}
 .social{
    align-content: center;
    
}
.footer{
    align-content: center;
   
} 
.logo-image img{
    width: 300.87px;
height: 80px;
align-content: center;

}

@media only screen and (max-width: 688px){

    /* first-sec */

    .first-section{
        display:grid;
        grid-auto-columns: repeat(1,1fr);
        background-color: rgb(12, 12, 168); 
    }
    h1{
        color: white;
        
        margin: 0;
    }
    .title{
        
        padding-left: 16px;
       
        padding-top: 46px;
        padding-right: 65px;
        padding-bottom: 124px;
       
    }
    
    .banner-image img{
        width: 329px;
height: 259.17px;
        padding-top: 125px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 61px;
        
       
    
    }
    .button{
        margin-top: 30px;
        text-decoration: none;
        padding: 10px 20px;
        color: wheat;
        border-radius: 5px;
        background-color: purple;
        font-weight: 500px;
    }
    .button:hover{
        background-color: darkorchid;
    }
    .first-section:hover .banner-image img{
        transform: rotate(45deg);
        transition: 1s;
    }
    
    /* second-sec */
    .players{
        padding-top: 47px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 20px;
        grid-column-gap: 30px;
       margin-left: 15px;
       margin-right:15px;;
    }
    
     .player{
        width:330px;
        Height:474px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 40px rgba(195, 199, 199, 0.507);
        border-radius: 20px;
        padding-bottom: 17px;
    } 
    .player-image img{
        width: 300px;
        height: 256px;
        border-radius: 10px;
    }
    .player-info{
        padding-right: 15px;
        padding-left: 15px;
        
    }

    /* 3rd-sec */

    .third-section{
       

        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 60px;
    }
    .match img{
 width: 328px;
height: 248px;
padding-top: 29px;
padding-left: 15px;
padding-right: 15px;

    
    }
    .info{
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;

    }
    h3{
        font-size: 30px;
        margin: 0;
    }

    /* 4th-sec */

    .owner{
        display: flex;
    flex-direction: column;
    
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 266px; 
    }
    
    .logo-image img{
        width: 125.8px;
        height: 29.98px;
        
    }

}