/* font-style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* first-section */

.first-section{
    display:flex;

    background-color: rgb(12, 12, 168);
  align-items: center;
  justify-content: space-evenly;
   padding: 80px;
 
}
h1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.title{
    
    margin-left: 156px;
    
   
}
.banner-immage{
    margin-left: 736;
    margin-top: 300px;
    
}
.banner-image img{
    width: 550px;
    height: 438;
   

}
.button{
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: wheat;
    border-radius: 5px;
    background-color: purple;
    font-weight: 500px;
}
.button:hover{
    background-color: darkorchid;
}
.first-section:hover .banner-image img{
    transform: rotate(45deg);
    transition: 1s;
}

/* second-section */
.players{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
   margin-left: 180px;
   margin-right:210px;;
}

 .player{
    width:330px;
    Height:474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(195, 199, 199, 0.507);
    border-radius: 20px;
    padding-bottom: 17px;
} 
.player-image img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.player-info{
    padding-right: 15px;
    padding-left: 15px;
    
}


/* third-section */
.third-section{
    margin-top: 200px;
    display: flex;
    
}
.match img{
    width: 567px;
height: 427px;
}
.info{
    
    padding: 40px;
    margin-top: 50px;
}
h3{
    font-size: 60px;
    margin: 0;
}

/* fourth-section */
.owner{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin-bottom: 63px;
margin-top: 170px;
}

.logo-image img{
    width: 483.87px;
height: 110px;
}