/* font-style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* first-section */

.first-section{
    display:flex;

    background-color: rgb(12, 12, 168);
  align-items: center;
  justify-content: space-evenly;
   padding: 80px;
 
}
h1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.title{
    
    margin-left: 156px;
    
   
}
.banner-immage{
    margin-left: 736;
    margin-top: 300px;
    
}
.banner-image img{
    width: 550px;
    height: 438;
   

}
.button{
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: wheat;
    border-radius: 5px;
    background-color: purple;
    font-weight: 500px;
}
.button:hover{
    background-color: darkorchid;
}
.first-section:hover .banner-image img{
    transform: rotate(45deg);
    transition: 1s;
}

/* second-section */

/* third-section */
.third-section{
    margin-top: 200px;
    display: flex;
    
}
.match img{
    width: 567px;
height: 427px;
}
.info{
    
    padding: 40px;
    margin-top: 50px;
}
h3{
    font-size: 60px;
    margin: 0;
}

/* fourth-section */
.owner{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin-bottom: 63px;
margin-top: 170px;
}

.logo-image img{
    width: 483.87px;
height: 110px;
}